body
{
    margin-top: 20px;
    font: 10pt "Roboto";
}
#content {
    width:1300px;
    margin: 0 auto;
    text-align: center;
}
#chart {
    width: 1300px;
    height: 650px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32);
}